.landlord-dashboard-display { /*This can be deleted, but will keep in case it is needed later*/
    width: 100%;
  }

.landlord-property-card {
  display: flex;
}

.landlord-carousel-container {
  width: 400px;
  height: 240px;
}

.property-information {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  height: 240px; /* Height must match carousel*/
  margin-left: 20px;
}

.property-description {
  margin: 0;
  margin-right: 10px;
  flex-grow: 1; /* Allow content container to grow vertically */
  overflow: auto; /* Enable scrolling for long content */
  scrollbar-width: thin;
}

.property-information h3 {
  margin: 0;
}
