.landlord-dashboard-display {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.landlord-property-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Mulish', sans-serif;
}

.landlord-carousel-container {
  min-width: 250px;
  width: 50%;
  height: 50%;
  flex-shrink: 0;
}

.property-information {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  flex-grow: 1;
}

.property-description {
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.property-description strong {
  display: block;
  margin-bottom: 5px;
}

.property-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.property-detail {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}

.property-information h3 {
  margin: 0 0 10px;
  font-size: 24px;
  color: #333;
}

.applicant-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.no-applicants {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: #999;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Mulish', sans-serif;
}

.reopen-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}

.reopen-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reopen-button:hover {
  background-color: #d32f2f;
}

.reopen-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.2);
}

.reopen-button:active {
  background-color: #c62828;
}

.applicant-title {
  margin: 0 0 0 10px;
  align-self: center;
}

.landlord-applicant-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 15px;
}

.no-property-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.no-property-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-family: 'Mulish', sans-serif;
  color: #555;
  height: 100px;
  width: 80%;
  text-align: center;
  background-color: #f8f8f8;
  border: 2px dashed #ccc;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

@media (max-width: 1200px) {
  .landlord-carousel-container {
    min-width: 200px;
  }
  .property-information {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 1;
    font-size: 1em;
  }
  .property-information h3 {
    font-size: 20px;
  }
  .property-details {
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 12px;
  }
  .property-detail {
    justify-content: flex-start;
  }
  .property-description {
    font-size: 15px;
    margin-right: 20px;
  }
}

@media (max-width: 1015px) {
  .landlord-property-card {
    flex-direction: column;
    align-items: center;
  }

  .property-description {
    font-size: 12px;
    margin-right: 20px;
  }
}
