.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    font-family: 'Mulish', sans-serif;
}

.auth-wrapper {
    display: flex;
    height: 90vh;
    width: 90vw;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.auth-black-block {
    background-color: #111111;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    flex-direction: column;
    padding: 20px;
}

.auth-form-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
}

.auth-form-box {
    width: 100%;
    max-width: 400px;
}

.auth-title {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}

.auth-subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.auth-form-group {
    margin-bottom: 10px;
}

label {
    margin-bottom: 0;
}

.auth-label {
    display: block;
    font-weight: 600;
}

.auth-input, .auth-select, .auth-button {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.auth-button {
    background-color: #111111;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-button:hover {
    background-color: #333333;
}

.auth-link {
    text-align: center;
    margin-top: 15px;
}

.auth-link a {
    color: #111111;
    text-decoration: none;
    font-weight: 600;
}

.auth-link a:hover {
    text-decoration: underline;
}

.auth-tagline {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
    color: #f6f6f6;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}


