.name-field,
.age-field,
.gender-field,
.image-field,
.phoneNumber-field,
.email-field {
  max-width: 60%;
}

h1 {
  font-family: 'Mulish', serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

p {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.button {
  margin-bottom: 10px;
}
