.general-input-form {
  margin: 50px;
}

.general-input-form .header {
  margin-top: 10px;
  margin-bottom: 30px;
}

.general-input-form .button {
  margin-top: 100px;
  margin-right: 20px;
  /* float: right; */
}

.general-input-form .list-item {
  margin-bottom: 8px;
}

.general-input-form .file-upload-button {
  margin-top: 8px;
}