/* MatchItem.css */
.match-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .match-item.applied {
    background-color: rgb(237, 247, 237);
    /* color: white; */
  }
  
  .match-item.disliked {
    background-color: lightcoral;
    /* color: white; */
  }
  
  .match-item.accepted {
    background-color: rgb(70, 161, 86);
    /* color: white; */
  }