.match-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin: 16px 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .carousel-container-mi {
    padding-right: 20px;
  }
  
  .house-details h2 {
    margin: 0;
    font-size: 1.25em;
  }
  
  .house-details p {
    margin: 4px 0;
  }
  
  .match-status {
    padding: 20px;
    border-radius: 90px;
    margin-left: auto;
  }
  
  .match-status.applied {
    background-color: rgb(237, 247, 237);
  }
  
  .match-status.disliked {
    background-color: lightcoral;
  }
  
  .match-status.accepted {
    background-color: rgb(70, 161, 86);
  }