/* adapted code from  \src\components\applicantCard\ExpandedApplicantCard.css */
.property-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 3000;
    overflow: auto;
    /* appears on top of other content */

}