.expanded-property-popup {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: left;
  font-family: 'Mulish', sans-serif;
  max-height: 520px;
  margin: 20px auto;
  width: 90%;
  max-width: 850px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.expanded-property-popup h1 {
  font-size: 24px;
  margin-bottom: 16px;
  color: #333;
  font-weight: bold;
}

.carousel-container {
  margin: 20px 0;
  border: 2px solid #000000;
  border-radius: 10px;
  overflow: hidden;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.info-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.info-item.full-width {
  grid-column: span 2;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

.details-row-expand {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.amenity {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.map-border-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.map-border-container .map-border {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  max-width: 550px;
}

.map-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 300px; /* Set a fixed height for the map */
  align-self: center;
}