.property-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.placeholder-card {
  height: 410px;
}

.dropzone-container {
  display: flex;
}

.dropzone {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  border-style: dashed;
  border-radius: 10px;
}

.dropzone-placeholder {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.left-dropzone {
  background-color: rgba(255, 0, 0, 0.1);
  border-color: red;
}

.right-dropzone {
  background-color: rgba(0, 255, 0, 0.1);
  border-color: green;
}

.dropzone.active {
  opacity: 1;
}

.dropzone-icon {
  font-size: 2em;
}

.property-popup-background {
  position: fixed;
  top: 0;
  left: 300px;
  width: calc(100% - 300px);
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-popup {
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  z-index: 1000;
  position: relative;
}

.carousel-container {
  margin-bottom: 20px;
}
