.applicant-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.applicant-card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 12px 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  cursor: pointer;
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
}

.applicant-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.applicant-card.accepted {
  background-color: #f1fff1;
  /* Light green tint for accepted applicants */
}

.applicant-card.accepted:hover {
  background-color: #f1fff1;
  /* Light green tint for accepted applicants */
  box-shadow: 0 8px 16px rgba(10, 213, 27, 0.5);
}

.applicant-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.applicant-info {
  flex: 1;
  margin-left: 16px;
}

.applicant-info h3 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.applicant-info p {
  margin: 4px 0;
  color: #555;
}

.applicant-info p span {
  font-weight: bold;
  color: #333;
}

.applicant-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.applicant-actions button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.2s;
}

.applicant-actions button.reject-button {
  background-color: #f44336;
}

.applicant-actions button:hover {
  background-color: #45a049;
}

.applicant-actions button.reject-button:hover {
  background-color: #e53935;
}

.accepted-label {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  font-size: 1.2em;
  color: #29782c;
  opacity: 0.8;
  font-family: 'Mulish', sans-serif;
}

@media screen and (max-width: 957px) {
  .applicant-card {
    width: 100%;
    padding: 12px;
  }

  .applicant-info {
    margin-left: 0;
    margin-top: 12px;
  }

  .applicant-image img {
    width: 60px;
    height: 60px;
  }

  .applicant-info {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8em;
  }

  .applicant-info h3 {
    font-size: 1em;
  }

  .applicant-actions button {
    flex-grow: 1;
    font-size: 0.8em;
    padding: 6px;
  }

  .accepted-label {
    position: static;
    transform: none;
    font-size: 1em;
    margin-top: 8px;
    margin-left: auto;
    text-align: right;
  }
}
